@import url('https://fonts.googleapis.com/css2?family=Armata&family=Syncopate:wght@700&display=swap');

/* Reflected some of the button design components done by Mohit Aneja:
 https://codepen.io/cssjockey/pen/bGbmop?editors=1100 */

body {
  /*https://www.magicpattern.design/tools/css-backgrounds (line 11-14)*/
  background-color: #f9f9fd;
  background-image: radial-gradient(#f79b45 2px, #f9f9fd 2px);
  background-size: 40px 40px;
  opacity: 1;
  text-align: center;
}

  /* Title */
h1 {
    color:red;
    font-family: 'Syncopate', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

#game-status-message {
  color: darkblue;
  font-family: 'Armata', sans-serif;
  font-size: 40px;
  font-weight: bold;
  height: 5rem;
  text-shadow: 1px 1px 0 darkblue;
}

#start-button {
  background: #CC0000;
  border: 3px solid darkred;
  border-radius: 5px;
  box-shadow: 1px 5px 0px #470000;
  color: white;
  font-family: 'Syncopate', sans-serif;
  font-size: 35px;  
  height: 75px;
  width: 275px;
  margin-top: 20px;
  text-shadow: 1px 1px 1px #470000;
}

#start-button:active {  
  box-shadow: none !important;
  position: relative;
  top: 5px;
  transition: all 250ms ease;
}

/* Gaming section */
#outer-box {
  border-width: 5px;
  height: 530px;
  width: 530px;
  margin: 30px auto;
  margin-top: 5px;
}

.upper-left {
  background-color: #006400;
  border: 1px solid #003300;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  box-shadow: 3px 7px #003300;
  height: 250px;
  width: 250px;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;
}

.upper-left:active {  
  box-shadow: none !important;
  position: relative;
  top: 10px;
  transition: all 250ms ease;
  }

.upper-right {
  background-color: #8B0000;
  border: 1px solid #470000;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  box-shadow: 3px 7px #470000;
  height: 250px;
  width: 250px;
  position: relative;
}

.upper-right:active {  
  box-shadow: none !important;
  position: relative;
  top: 10px;
  transition: all 250ms ease;
}

.lower-left {
  background-color: #FFA500;
  border: 1px solid #825500;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  box-shadow: 3px 7px #825500;
  height: 250px;
  width: 250px;
  margin-right: 20px;
  margin-bottom: 25px;
  position: relative;
}

.lower-left:active {  
  box-shadow: none !important;
  position: relative;
  top: 5px;
  transition: all 250ms ease;
}

.lower-right {
  background-color: #00008B;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  border: 1px solid #000013;
  box-shadow: 3px 7px #000013;
  height: 250px;
  width: 250px;
  margin-top: 25px;
  position: relative;
}

.lower-right:active {
  box-shadow: none !important;
  position: relative;
  top: 5px;
  transition: all 250ms ease;
}

#inner-box {
  background-color: lightgrey;
  border-radius: 5%;
  border-style: solid;
  border-width: 5px;
  height: 150px;
  width: 150px;
  margin: 50px auto;
}

.round {
  font-family: 'Armata', sans-serif;
  font-size: 35px;
  padding-top: 10px;
  margin: 10px;
  text-shadow: 1px 1px 0 black;
}

#round-display {
  background-color: black;
  color: red;
  font-family: 'Armata', sans-serif;
  font-size: 40px;
  height: 60px;
  width: 100px;
  margin-left: 25px;
  padding-top: 10px;
}

/* Instruction section */
#instruction {
  font-family: 'Armata', sans-serif;
  font-size: 30px;
  margin: 0px auto;
  text-align: center;
  text-shadow: 1px 1px 0 black;
  width: 900px;
}

#instruction-text {
  color: darkblue;
  font-family: 'Armata', sans-serif;
  font-size: 35px;
}

/* classList */
.changeColor {
    filter: brightness(200%);
}

.dim {
  filter: saturate(25%);
}

.hidden {
    display: none;
}

.unclickable {
    pointer-events: none;
}